@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700);

.App {
  text-align: center;
}

/*전체화면 배경색*/
/* .btnLightBlue.btnBorder {
  box-shadow: 0px 0px 0px 0px #0066FF;
}

.btnLightBlue.btnBorder:hover {
  box-shadow: 0px 0px 0px 5px #7aa7e9;
} */

.btnFade.btnLightBlue:hover {
  background: #0448ad;
}

button {

  font-family: 'Josefin Slab', serif;
  width: 300px;
  padding: 10px;
  margin: 10px 20px 10px 0;
  font-weight: 900;
  text-align: center;
  color: #FFF;
  border-radius: 10px;
  transition: all 0.2s ;
  background-color:#0066FF;
  border:none;
  

}

div {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.menu-bar {
  background: #0066FF;
  color: white;
  width: 180px;
  height: 100vh;
  position: fixed;
  padding: 20px;
  z-index: 10;
}

.menu-bar div {
  text-align: left;
  margin: 25px 0px 0px -5px;
}

.menu-bar :hover {
  cursor: pointer;
  color: black;
  transition: all 0.5s;
}

.menu-bar i {
  margin-right: 5px;
  font-size: 20px;
}


@media screen and (max-width : 768px) {
  .menu-bar {
    width: 100%;
    height: 8vh;
  }

  .menu-bar div {
    width: 25%;
    float: left;
    margin: auto;
  }

  .menu-bar ul {
    margin-top: 20px;
    color: black;
  }

}